<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aistrong.hnyc_codecenter.task.dao.BookDao">
    <select id="queryById" parameterType="long" resultType="com.aistrong.hnyc_codecenter.task.entity.Book">
        SELECT *
        FROM
            BOOK
        WHERE
            book_id = #{bookId}
    </select>

    <select id="queryAll" parameterType="long" resultType="com.aistrong.hnyc_codecenter.task.entity.Book">
        SELECT * FROM BOOK
        ORDER BY book_id LIMIT #{offset}, #{limit}
    </select>

    <delete id="reduceNumber" parameterType="long">
        DELETE FROM BOOK
        WHERE book_id = #{bookId}
    </delete>
</mapper>