<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aistrong.hnyc_codecenter.task.dao.EmployeeInfoDao">
    <resultMap id="ResultMap" type="com.aistrong.hnyc_codecenter.task.entity.EmployeeInfo">
        <result column="PERSONCODE" property="personcode" jdbcType="VARCHAR"/>
        <result column="CNNAME" property="cnname" jdbcType="VARCHAR"/>
        <result column="IDNUM" property="idnum" jdbcType="VARCHAR"/>
        <result column="SEX" property="sex" jdbcType="VARCHAR"/>
        <result column="NATION" property="nation" jdbcType="VARCHAR"/>
        <result column="BIRTHDAY" property="birthday" jdbcType="VARCHAR"/>
        <result column="AGE" property="age" jdbcType="INTEGER"/>
        <result column="NATIVE_PLACE" property="native_place" jdbcType="VARCHAR"/>
        <result column="EDUCODE" property="educode" jdbcType="VARCHAR"/>
        <result column="GRADUATE_SCHOOL" property="graduate_school" jdbcType="VARCHAR"/>
        <result column="ENTRANCE_DATE" property="entrance_date" jdbcType="VARCHAR"/>
        <result column="GRADUATE_DATE" property="graduate_date" jdbcType="VARCHAR"/>
        <result column="EDUCTIONAL_SYSTME" property="eductional_systme" jdbcType="VARCHAR"/>
        <result column="STUDY_FORM" property="study_form" jdbcType="VARCHAR"/>
        <result column="DEGREECODE" property="degreecode" jdbcType="VARCHAR"/>
        <result column="DEGREE_DEPT" property="degree_dept" jdbcType="VARCHAR"/>
        <result column="DEGREE_DATE" property="degree_date" jdbcType="VARCHAR"/>
        <result column="SPECIALITY" property="speciality" jdbcType="VARCHAR"/>
        <result column="PCODE" property="pcode" jdbcType="VARCHAR"/>
        <result column="MARRYCODE" property="marrycode" jdbcType="VARCHAR"/>
        <result column="HOMETEL" property="hometel" jdbcType="VARCHAR"/>
        <result column="HEALTH" property="health" jdbcType="VARCHAR"/>
        <result column="BEGINWORK_DATE" property="beginwork_date" jdbcType="VARCHAR"/>
        <result column="IFTRAN_WORK" property="iftran_work" jdbcType="VARCHAR"/>
        <result column="IFE_SERVICEMAN" property="ife_serviceman" jdbcType="VARCHAR"/>
        <result column="ONDUTY_DATE" property="onduty_date" jdbcType="VARCHAR"/>
        <result column="INSYSTEM_DATE" property="insystem_date" jdbcType="VARCHAR"/>
        <result column="WORK_DATE" property="work_date" jdbcType="VARCHAR"/>
        <result column="STATION_CODE" property="station_code" jdbcType="VARCHAR"/>
        <result column="JOB" property="job" jdbcType="VARCHAR"/>
        <result column="STATION_DATE" property="station_date" jdbcType="VARCHAR"/>
        <result column="STATION_TYPE" property="station_type" jdbcType="VARCHAR"/>
        <result column="TITLE_TECH_POST" property="title_tech_post" jdbcType="VARCHAR"/>
        <result column="DEAL_LEVEL" property="deal_level" jdbcType="VARCHAR"/>
        <result column="DEAL_DATE" property="deal_date" jdbcType="VARCHAR"/>
        <result column="JOB_TYPE" property="job_type" jdbcType="VARCHAR"/>
        <result column="PACT_TYPE" property="pact_type" jdbcType="VARCHAR"/>
        <result column="WORK_SPEC" property="work_spec" jdbcType="VARCHAR"/>
        <result column="STRONG_SUIT" property="strong_suit" jdbcType="VARCHAR"/>
        <result column="PERSONET1" property="personet1" jdbcType="VARCHAR"/>
        <result column="PERSONET2" property="personet2" jdbcType="VARCHAR"/>
        <result column="ENDOWMENT_INSURANCE" property="endowment_insurance" jdbcType="VARCHAR"/>
        <result column="IDLENESS_INSURANCE" property="idleness_insurance" jdbcType="VARCHAR"/>
        <result column="WORK_INJURE" property="work_injure" jdbcType="VARCHAR"/>
        <result column="MEDICARE" property="medicare" jdbcType="VARCHAR"/>
        <result column="BEARING_NISURANCE" property="bearing_nisurance" jdbcType="VARCHAR"/>
        <result column="REGISTER_TYPE" property="register_type" jdbcType="VARCHAR"/>
        <result column="REISTER_ADRESS" property="reister_adress" jdbcType="VARCHAR"/>
        <result column="SPECIALTIES" property="specialties" jdbcType="VARCHAR"/>
        <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
        <result column="MOBILE" property="mobile" jdbcType="VARCHAR"/>
        <result column="OFFICETEL" property="officetel" jdbcType="VARCHAR"/>
        <result column="CONNECTADDR" property="connectaddr" jdbcType="VARCHAR"/>
        <result column="OTHERINFO" property="otherinfo" jdbcType="VARCHAR"/>
        <result column="CORP_CODE" property="corp_code" jdbcType="VARCHAR"/>
        <result column="DEPT_CODE" property="dept_code" jdbcType="VARCHAR"/>
        <result column="EMPLOYEECODE" property="employeecode" jdbcType="VARCHAR"/>
        <result column="USERID" property="userid" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="VARCHAR"/>
        <result column="ORDERNO" property="orderno" jdbcType="VARCHAR"/>
        <result column="MAILENABLED" property="mailenabled" jdbcType="VARCHAR"/>
        <result column="PASSWORD" property="password" jdbcType="VARCHAR"/>
        <result column="PERSONUUID" property="personuuid" jdbcType="VARCHAR"/>
        <result column="ONDUTYDATE" property="ondutydate" jdbcType="TIMESTAMP"/>
        <result column="INSYSTEMDATE" property="insystemdate" jdbcType="TIMESTAMP"/>
        <result column="IS_SHORT_TERM" property="is_short_term" jdbcType="VARCHAR"/>
        <result column="ACCOUNT_NATURE" property="account_nature" jdbcType="VARCHAR"/>
        <result column="CREATOR" property="creator" jdbcType="VARCHAR"/>
        <result column="CREATETIME" property="createtime" jdbcType="TIMESTAMP"/>
        <result column="MODIFIER" property="modifier" jdbcType="VARCHAR"/>
        <result column="MODIFYTIME" property="modifytime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <insert id="addEmployeeInfo" parameterType="com.aistrong.hnyc_codecenter.task.entity.EmployeeInfo">
        INSERT INTO HNYC_EMPLOYEE_INFO (personCode, cnName, idNum, sex, nation, birthday, age, nativePlace,
                                        eduCode, graduateSchool, entranceDate, graduateDate, eductionalSystme,
                                        studyForm, degreeCode, degreeDept, degreeDate, speciality, pCode, marryCode,
                                        homeTel, health, beginWorkDate, iftranWork, ifeServiceman, onduty_date,
                                        Insystem_date, workDate, stationCode, job, stationDate, stationType,
                                        titleTechPost, dealLevel, dealDate, jobType, pactType, workSpec, strongSuit,
                                        personet1, personet2, endowmentInsurance, idlenessInsurance, workInjure,
                                        medicare, bearingNisurance, registerType, reisterAdress, specialties, email,
                                        mobile, officeTel, connectAddr, otherInfo, corpCode, deptCode, employeeCode,
                                        userId, status, orderNo, mailenAbled, password, personuuId, ondutyDate, insystemDate,
                                        isShortTerm, accountNature, creator, createTime, modifier, modifyTime)
        VALUES (
        #{personcode, jdbcType=VARCHAR},
        #{cnname, jdbcType=VARCHAR},
        #{idnum, jdbcType=VARCHAR},
        #{sex, jdbcType=VARCHAR},
        #{nation, jdbcType=VARCHAR},
        #{birthday, jdbcType=VARCHAR},
        #{age, jdbcType=INTEGER},
        #{native_place, jdbcType=VARCHAR},
        #{educode, jdbcType=VARCHAR},
        #{graduate_school, jdbcType=VARCHAR},
        #{entrance_date, jdbcType=VARCHAR},
        #{graduate_date, jdbcType=VARCHAR},
        #{eductional_systme, jdbcType=VARCHAR},
        #{study_form, jdbcType=VARCHAR},
        #{degreecode, jdbcType=VARCHAR},
        #{degree_dept, jdbcType=VARCHAR},
        #{degree_date, jdbcType=VARCHAR},
        #{speciality, jdbcType=VARCHAR},
        #{pcode, jdbcType=VARCHAR},
        #{marrycode, jdbcType=VARCHAR},
        #{hometel, jdbcType=VARCHAR},
        #{health, jdbcType=VARCHAR},
        #{beginwork_date, jdbcType=VARCHAR},
        #{iftran_work, jdbcType=VARCHAR},
        #{ife_serviceman, jdbcType=VARCHAR},
        #{onduty_date, jdbcType=VARCHAR},
        #{insystem_date, jdbcType=VARCHAR},
        #{work_date, jdbcType=VARCHAR},
        #{station_code, jdbcType=VARCHAR},
        #{job, jdbcType=VARCHAR},
        #{station_date, jdbcType=VARCHAR},
        #{station_type, jdbcType=VARCHAR},
        #{title_tech_post, jdbcType=VARCHAR},
        #{deal_level, jdbcType=VARCHAR},
        #{deal_date, jdbcType=VARCHAR},
        #{job_type, jdbcType=VARCHAR},
        #{pact_type, jdbcType=VARCHAR},
        #{work_spec, jdbcType=VARCHAR},
        #{strong_suit, jdbcType=VARCHAR},
        #{personet1, jdbcType=VARCHAR},
        #{personet2, jdbcType=VARCHAR},
        #{endowment_insurance, jdbcType=VARCHAR},
        #{idleness_insurance, jdbcType=VARCHAR},
        #{work_injure, jdbcType=VARCHAR},
        #{medicare, jdbcType=VARCHAR},
        #{bearing_nisurance, jdbcType=VARCHAR},
        #{register_type, jdbcType=VARCHAR},
        #{reister_adress, jdbcType=VARCHAR},
        #{specialties, jdbcType=VARCHAR},
        #{email, jdbcType=VARCHAR},
        #{mobile, jdbcType=VARCHAR},
        #{officetel, jdbcType=VARCHAR},
        #{connectaddr, jdbcType=VARCHAR},
        #{otherinfo, jdbcType=VARCHAR},
        #{corp_code, jdbcType=VARCHAR},
        #{dept_code, jdbcType=VARCHAR},
        #{employeecode, jdbcType=VARCHAR},
        #{userid, jdbcType=VARCHAR},
        #{status, jdbcType=VARCHAR},
        #{orderno, jdbcType=VARCHAR},
        #{mailenabled, jdbcType=VARCHAR},
        #{password, jdbcType=VARCHAR},
        #{personuuid, jdbcType=VARCHAR},
        #{ondutydate, jdbcType=TIMESTAMP},
        #{insystemdate, jdbcType=TIMESTAMP},
        #{is_short_term, jdbcType=VARCHAR},
        #{account_nature, jdbcType=VARCHAR},
        #{creator, jdbcType=VARCHAR},
        #{createtime, jdbcType=TIMESTAMP},
        #{modifier, jdbcType=VARCHAR},
        #{modifytime, jdbcType=TIMESTAMP}
        )
    </insert>
    
    
    <select id="getByPersoncode" parameterType="java.lang.String" resultMap="ResultMap">
        SELECT * FROM HNYC_EMPLOYEE_INFO
        WHERE personCode = #{personcode}
    </select>

    <update id="updateEmployeeInfo" parameterType="com.aistrong.hnyc_codecenter.task.entity.EmployeeInfo">
        UPDATE HNYC_EMPLOYEE_INFO SET
        cnName = #{cnname, jdbcType=VARCHAR},
        idNum = #{idnum, jdbcType=VARCHAR},
        sex = #{sex, jdbcType=VARCHAR},
        nation = #{nation, jdbcType=VARCHAR},
        birthday = #{birthday, jdbcType=VARCHAR},
        age = #{age, jdbcType=INTEGER},
        nativePlace = #{native_place, jdbcType=VARCHAR},
        eduCode = #{educode, jdbcType=VARCHAR},
        graduateSchool = #{graduate_school, jdbcType=VARCHAR},
        entranceDate = #{entrance_date, jdbcType=VARCHAR},
        graduateDate = #{graduate_date, jdbcType=VARCHAR},
        eductionalSystme = #{eductional_systme, jdbcType=VARCHAR},
        studyForm = #{study_form, jdbcType=VARCHAR},
        degreeCode = #{degreecode, jdbcType=VARCHAR},
        degreeDept = #{degree_dept, jdbcType=VARCHAR},
        degreeDate = #{degree_date, jdbcType=VARCHAR},
        speciality = #{speciality, jdbcType=VARCHAR},
        pCode = #{pcode, jdbcType=VARCHAR},
        marryCode = #{marrycode, jdbcType=VARCHAR},
        homeTel = #{hometel, jdbcType=VARCHAR},
        health = #{health, jdbcType=VARCHAR},
        beginWorkDate = #{beginwork_date, jdbcType=VARCHAR},
        iftranWork = #{iftran_work, jdbcType=VARCHAR},
        ifeServiceman = #{ife_serviceman, jdbcType=VARCHAR},
        onduty_date = #{onduty_date, jdbcType=VARCHAR},
        insystem_date = #{insystem_date, jdbcType=VARCHAR},
        workDate = #{work_date, jdbcType=VARCHAR},
        stationCode = #{station_code, jdbcType=VARCHAR},
        job = #{job, jdbcType=VARCHAR},
        stationDate = #{station_date, jdbcType=VARCHAR},
        stationType = #{station_type, jdbcType=VARCHAR},
        titleTechPost = #{title_tech_post, jdbcType=VARCHAR},
        dealLevel = #{deal_level, jdbcType=VARCHAR},
        dealDate = #{deal_date, jdbcType=VARCHAR},
        jobType = #{job_type, jdbcType=VARCHAR},
        pactType = #{pact_type, jdbcType=VARCHAR},
        workSpec = #{work_spec, jdbcType=VARCHAR},
        strongSuit = #{strong_suit, jdbcType=VARCHAR},
        personet1 = #{personet1, jdbcType=VARCHAR},
        personet2 = #{personet2, jdbcType=VARCHAR},
        endowmentInsurance = #{endowment_insurance, jdbcType=VARCHAR},
        idlenessInsurance = #{idleness_insurance, jdbcType=VARCHAR},
        workInjure = #{work_injure, jdbcType=VARCHAR},
        medicare = #{medicare, jdbcType=VARCHAR},
        bearingNisurance = #{bearing_nisurance, jdbcType=VARCHAR},
        registerType = #{register_type, jdbcType=VARCHAR},
        reisterAdress = #{reister_adress, jdbcType=VARCHAR},
        specialties = #{specialties, jdbcType=VARCHAR},
        email = #{email, jdbcType=VARCHAR},
        mobile = #{mobile, jdbcType=VARCHAR},
        officeTel = #{officetel, jdbcType=VARCHAR},
        connectAddr = #{connectaddr, jdbcType=VARCHAR},
        otherInfo = #{otherinfo, jdbcType=VARCHAR},
        corpCode = #{corp_code, jdbcType=VARCHAR},
        deptCode = #{dept_code, jdbcType=VARCHAR},
        employeeCode = #{employeecode, jdbcType=VARCHAR},
        userId = #{userid, jdbcType=VARCHAR},
        status = #{status, jdbcType=VARCHAR},
        orderNo = #{orderno, jdbcType=VARCHAR},
        mailenAbled = #{mailenabled, jdbcType=VARCHAR},
        password = #{password, jdbcType=VARCHAR},
        personuuId = #{personuuid, jdbcType=VARCHAR},
        ondutyDate = #{ondutydate, jdbcType=TIMESTAMP},
        insystemDate = #{insystemdate, jdbcType=TIMESTAMP},
        isShortTerm = #{is_short_term, jdbcType=VARCHAR},
        accountNature = #{account_nature, jdbcType=VARCHAR},
        creator = #{creator, jdbcType=VARCHAR},
        createTime = #{createtime, jdbcType=TIMESTAMP},
        modifier = #{modifier, jdbcType=VARCHAR},
        modifyTime = #{modifytime, jdbcType=TIMESTAMP}
        WHERE
        personCode = #{personcode, jdbcType=VARCHAR}
    </update>
</mapper>