<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aistrong.hnyc_codecenter.task.dao.HeadInfoDao">
    <resultMap id="ResultMap" type="com.aistrong.hnyc_codecenter.task.entity.HeadInfo">
        <id column="MSG_ID" property="msg_id" jdbcType="VARCHAR"/>
        <result column="WS_MARK" property="ws_mark" jdbcType="VARCHAR"/>
        <result column="WS_METHOD" property="ws_method" jdbcType="VARCHAR"/>
        <result column="WS_PARAM" property="ws_param" jdbcType="VARCHAR"/>
        <result column="CURR_TIME" property="curr_time" jdbcType="TIMESTAMP"/>
        <result column="CURR_USER" property="curr_user" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addHeadInfo" parameterType="com.aistrong.hnyc_codecenter.task.entity.HeadInfo">
        INSERT INTO HNYC_HEAD_INFO (msg_id, ws_mark, ws_method, ws_param, curr_time, curr_user, rece_info)
        VALUES (
        #{msg_id, jdbcType=VARCHAR},
        #{ws_mark, jdbcType=VARCHAR},
        #{ws_method, jdbcType=VARCHAR},
        #{ws_param, jdbcType=VARCHAR},
        #{curr_time, jdbcType=TIMESTAMP},
        #{curr_user, jdbcType=VARCHAR},
        #{rece_info, jdbcType=VARCHAR}
        )
    </insert>

    <select id="getByMsgId" parameterType="java.lang.String" resultMap="ResultMap">
        SELECT * FROM HNYC_HEAD_INFO
        WHERE msg_id = #{msg_id}
    </select>

    <update id="updateHeadInfo" parameterType="com.aistrong.hnyc_codecenter.task.entity.HeadInfo">
        UPDATE HNYC_HEAD_INFO SET
        ws_mark = #{ws_mark, jdbcType=VARCHAR},
        ws_method = #{ws_method, jdbcType=VARCHAR},
        ws_param = #{ws_param, jdbcType=VARCHAR},
        curr_time = #{curr_time, jdbcType=TIMESTAMP},
        curr_user = #{curr_user, jdbcType=VARCHAR},
        rece_info = #{rece_info, jdbcType=VARCHAR}
        WHERE msg_id = #{msg_id, jdbcType=VARCHAR}
    </update>

</mapper>