<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aistrong.hnyc_codecenter.task.dao.LeafGradeInfoDao">
    <resultMap id="ResultMap" type="com.aistrong.hnyc_codecenter.task.entity.LeafGradeInfo">
        <result column="GRADE_CODE" property="grade_code" jdbcType="VARCHAR"/>
        <result column="GRADE_NAME" property="grade_name" jdbcType="VARCHAR"/>
        <result column="LEAF_GRADE" property="leaf_grade" jdbcType="VARCHAR"/>
        <result column="BIG_GRADE_CODE" property="big_grade_code" jdbcType="VARCHAR"/>
        <result column="LEVEL_CODE" property="level_code" jdbcType="VARCHAR"/>
        <result column="TYPE_CODE" property="type_code" jdbcType="VARCHAR"/>
        <result column="PART_CODE" property="part_code" jdbcType="VARCHAR"/>
        <result column="COLOR_CODE" property="color_code" jdbcType="VARCHAR"/>
        <result column="STATE_CODE" property="state_code" jdbcType="VARCHAR"/>
        <result column="STATE_CODE_NAME" property="state_code_name" jdbcType="VARCHAR"/>
        <result column="PRODUCTION_FLAG" property="production_flag" jdbcType="CHAR"/>
        <result column="MOVE_FLAG" property="move_flag" jdbcType="CHAR"/>
        <result column="PARCH_FLAG" property="parch_flag" jdbcType="CHAR"/>
        <result column="OTHER_FLAG" property="other_flag" jdbcType="CHAR"/>
        <result column="END_FLAG" property="end_flag" jdbcType="CHAR"/>
        <result column="CODE_FLAG" property="code_flag" jdbcType="CHAR"/>
        <result column="CODE_GBM" property="code_gbm" jdbcType="VARCHAR"/>
    </resultMap>

    <insert id="addLeafGradeInfo" parameterType="com.aistrong.hnyc_codecenter.task.entity.LeafGradeInfo">
        INSERT INTO LEAF_GRADE_INFO (grade_code, grade_name, leaf_grade, big_grade_code, level_code, type_code,
                                     part_code, color_code, state_code, state_code_name, production_flag, move_flag,
                                     parch_flag, other_flag, end_flag, code_flag, code_gbm)
        VALUES (
        #{grade_code, jdbcType=VARCHAR},
        #{grade_name, jdbcType=VARCHAR},
        #{leaf_grade, jdbcType=VARCHAR},
        #{big_grade_code, jdbcType=VARCHAR},
        #{level_code, jdbcType=VARCHAR},
        #{type_code, jdbcType=VARCHAR},
        #{part_code, jdbcType=VARCHAR},
        #{color_code, jdbcType=VARCHAR},
        #{state_code, jdbcType=VARCHAR},
        #{state_code_name, jdbcType=VARCHAR},
        #{production_flag, jdbcType=VARCHAR},
        #{move_flag, jdbcType=VARCHAR},
        #{parch_flag, jdbcType=VARCHAR},
        #{other_flag, jdbcType=VARCHAR},
        #{end_flag, jdbcType=VARCHAR},
        #{code_flag, jdbcType=VARCHAR},
        #{code_gbm, jdbcType=VARCHAR}
        )
    </insert>
</mapper>