<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.wenrj.yc_codecenter.task.dao.LeafBigGradeInfoDao">
    <resultMap id="ResultMap" type="com.wenrj.yc_codecenter.task.entity.LeafBigGradeInfo">
        <result column="BIG_GRADE_CODE" property="big_grade_code" jdbcType="VARCHAR"/>
        <result column="BIG_GRADE_NAME" property="big_grade_name" jdbcType="VARCHAR"/>
        <result column="PRODUCTION_FLAG" property="production_flag" jdbcType="VARCHAR"/>
        <result column="CODE_GBM" property="code_gbm" jdbcType="VARCHAR"/>
        <result column="CODE_FLAG" property="code_flag" jdbcType="CHAR"/>
    </resultMap>

    <insert id="addLeafBigGradeInfo" parameterType="com.wenrj.yc_codecenter.task.entity.LeafBigGradeInfo">
        INSERT INTO LEAF_BIG_GRADE_INFO (big_grade_code, big_grade_name, production_flag, code_gbm, code_flag)
        VALUES (
        #{big_grade_code, jdbcType=VARCHAR},
        #{big_grade_name, jdbcType=VARCHAR},
        #{production_flag, jdbcType=VARCHAR},
        #{code_gbm, jdbcType=VARCHAR},
        #{code_flag, jdbcType=CHAR}
        )
    </insert>

</mapper>