<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aistrong.hnyc_codecenter.task.dao.ProvideBealerBaseInfoDao">
    <resultMap id="ResultMap" type="com.aistrong.hnyc_codecenter.task.entity.ProvideBealerBaseInfo">
        <result column="PROVIDER_CODE" property="provider_code" jdbcType="VARCHAR"/>
        <result column="PROVIDER_NAME" property="provider_name" jdbcType="VARCHAR"/>
        <result column="PROVIDER_SIMPLY" property="provider_simply" jdbcType="VARCHAR"/>
        <result column="CORP_KIND" property="corp_kind" jdbcType="VARCHAR"/>
        <result column="PROVINCE" property="province" jdbcType="VARCHAR"/>
        <result column="AREA" property="area" jdbcType="VARCHAR"/>
        <result column="ADDRESS" property="address" jdbcType="VARCHAR"/>
        <result column="POSTALCODE" property="postalcode" jdbcType="VARCHAR"/>
        <result column="FA" property="fa" jdbcType="VARCHAR"/>
        <result column="EMAIL" property="email" jdbcType="VARCHAR"/>
        <result column="HTTP" property="http" jdbcType="VARCHAR"/>
        <result column="BANK" property="bank" jdbcType="VARCHAR"/>
        <result column="ACCOUNTS" property="accounts" jdbcType="VARCHAR"/>
        <result column="TA_NUMBER" property="ta_number" jdbcType="VARCHAR"/>
        <result column="LICENCE" property="licence" jdbcType="VARCHAR"/>
        <result column="BUSINESS_LICENCE" property="business_licence" jdbcType="VARCHAR"/>
        <result column="MENBER1" property="member1" jdbcType="VARCHAR"/>
        <result column="MENBER2" property="member2" jdbcType="VARCHAR"/>
        <result column="ISPIVOT" property="ispivot" jdbcType="CHAR"/>
        <result column="SUPERIOR" property="superior" jdbcType="VARCHAR"/>
        <result column="SUPERIOR_INDUSTRY" property="superior_industry" jdbcType="VARCHAR"/>
        <result column="SYNOPSIS" property="synopsis" jdbcType="VARCHAR"/>
        <result column="PROVIDER_TYPE" property="provider_type" jdbcType="VARCHAR"/>
        <result column="CORPORATION" property="corporation" jdbcType="VARCHAR"/>
        <result column="STATUS" property="status" jdbcType="CHAR"/>
    </resultMap>

    <insert id="addProvideBealerBaseInfo" parameterType="com.aistrong.hnyc_codecenter.task.entity.ProvideBealerBaseInfo">
        INSERT INTO HNYC_PROVIDE_BEALER_BASE_INFO
       (provider_code, provider_name, provider_simply, corp_kind, province, area,
        address, postalcode, fa, email, http, bank, accounts, ta_number, licence,
        business_licence, member1, member2, ispivot, superior, superior_industry,
        synopsis, provider_type, corporation, status)
        VALUES (
        #{provider_code, jdbcType=VARCHAR},
        #{provider_name, jdbcType=VARCHAR},
        #{provider_simply, jdbcType=VARCHAR},
        #{corp_kind, jdbcType=VARCHAR},
        #{province, jdbcType=VARCHAR},
        #{area, jdbcType=VARCHAR},
        #{address, jdbcType=VARCHAR},
        #{postalcode, jdbcType=VARCHAR},
        #{fa, jdbcType=VARCHAR},
        #{email, jdbcType=VARCHAR},
        #{http, jdbcType=VARCHAR},
        #{bank, jdbcType=VARCHAR},
        #{accounts, jdbcType=VARCHAR},
        #{ta_number, jdbcType=VARCHAR},
        #{licence, jdbcType=VARCHAR},
        #{business_licence, jdbcType=VARCHAR},
        #{member1, jdbcType=VARCHAR},
        #{member2, jdbcType=VARCHAR},
        #{ispivot, jdbcType=CHAR},
        #{superior, jdbcType=VARCHAR},
        #{superior_industry, jdbcType=VARCHAR},
        #{synopsis, jdbcType=VARCHAR},
        #{provider_type, jdbcType=VARCHAR},
        #{corporation, jdbcType=VARCHAR},
        #{status, jdbcType=CHAR}
        )
    </insert>
    
    <select id="getByProviderCode" parameterType="java.lang.String" resultMap="ResultMap">
        SELECT * FROM HNYC_PROVIDE_BEALER_BASE_INFO
        WHERE provider_code = #{provider_code}
    </select>

    <update id="updateProvideBealerBaseInfo" parameterType="com.aistrong.hnyc_codecenter.task.entity.ProvideBealerBaseInfo">
        UPDATE HNYC_PROVIDE_BEALER_BASE_INFO SET
        provider_name = #{provider_name, jdbcType=VARCHAR},
        provider_simply = #{provider_simply, jdbcType=VARCHAR},
        corp_kind = #{corp_kind, jdbcType=VARCHAR},
        province = #{province, jdbcType=VARCHAR},
        area = #{area, jdbcType=VARCHAR},
        address = #{address, jdbcType=VARCHAR},
        postalcode = #{postalcode, jdbcType=VARCHAR},
        fa = #{fa, jdbcType=VARCHAR},
        email = #{email, jdbcType=VARCHAR},
        http = #{http, jdbcType=VARCHAR},
        bank = #{bank, jdbcType=VARCHAR},
        accounts = #{accounts, jdbcType=VARCHAR},
        ta_number = #{ta_number, jdbcType=VARCHAR},
        licence = #{licence, jdbcType=VARCHAR},
        business_licence = #{business_licence, jdbcType=VARCHAR},
        member1 = #{member1, jdbcType=VARCHAR},
        member2 = #{member2, jdbcType=VARCHAR},
        ispivot = #{ispivot, jdbcType=CHAR},
        superior = #{superior, jdbcType=VARCHAR},
        superior_industry = #{superior_industry, jdbcType=VARCHAR},
        synopsis = #{synopsis, jdbcType=VARCHAR},
        provider_type = #{provider_type, jdbcType=VARCHAR},
        corporation = #{corporation, jdbcType=VARCHAR},
        status = #{status, jdbcType=CHAR}
        WHERE
        provider_code = #{provider_code, jdbcType=VARCHAR}
    </update>



</mapper>